<%= render 'shared/title_format', title: 'Profile' %>


<div class='well'>
  <p>Username: <%= current_user.username %></p>
  <p>Time zone: <%= current_user.time_zone %></p>
  <p>Phone: <%= current_user.phone %></p>
  <p>Two factor Auth: <%= current_user.two_factor_auth %></p>
  
</div>

<%= @user.username %>'s activity
<br />
<br />

<ul class="nav nav-tabs">
  <li class='<%= 'active' if params[:tab].nil? %>'>
  <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
 <li class='<%= 'active' if params[:tab]== 'comments' %>'>
   <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>


<% if params[:tab].nil?  %>
  <% current_user.posts.each do |post| %>
    <%= render 'posts/display_a_post', post: post %>  
  <% end %>
<% elsif params[:tab] == 'comments' %>

  <% current_user.comments.each do |comment| %>
    <%= render 'posts/display_comment', comment: comment  %>  
  <% end %>

<% end %>

