<%= render 'shared/title_format', title: 'All Posts' %>

<% @posts.order(created_at: :desc).each do |post| %>

<div class='well span8'>


<% post.categories.order(:name).each do |category| %>
 <%= link_to category.name, category_path(category), class: 'badge' %>
 <% end %>

  <h3><%= link_to post.title, post %></h3>
  <p><%= truncate(post.description, length: 50) %>
  </p>

  <p class='pull-right'><%= pluralize( post.comments.count, 'comment') %></p>
</div>
<% end %>
