


<p class=pull-right><%= link_to "Edit post", edit_post_path(@post) if logged_in? %></p>
<%#= link_to "Back", posts_path %>

<%= render 'shared/title_format', title: @post.title %>



<p class='panel' >
  <%= @post.description %>
  <br /></p>
  <%= link_to @post.url, fix_url(@post.url) %>
  <br />

 <% @post.categories.each do |category| %>
 <%= link_to category.name, category_path(category), class: 'badge' %>
 <% end %>

<br />



<br />
<% if logged_in? %>
  <p>
  <%= form_for [@post, @comment] do  |f| %>
  <%= render 'shared/errors', obj: @comment %>
    <div class = 'control-group'>
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body %>
    </div>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
  </p>
<% end %>


  <% @post.comments.each do |comment| %>
  <% unless comment.new_record? %>
    <div class='well span8'> 
     
      <%= comment.body %>
      <br />
      <span class='quiet'>
      posted on <%= comment.created_at.strftime("%b. %d")  %> 
       by <%= comment.creator.username %></span>
       <% end %>

    </div>
  <% end %>






