                                            


<p class=pull-right><%= link_to "Edit post", edit_post_path(@post) if logged_in? %></p>
<%#= link_to "Back", posts_path %>

<%= render 'shared/title_format', title: @post.title %>



<p class='panel' >
  <%= @post.description %>
  <br /></p>
  <%= link_to @post.url, fix_url(@post.url) %>
  <p> <span class='quiet'>
      <%= who_and_when(@post) %></span>
     </p>

 <% @post.categories.each do |category| %>
 <%= link_to category.name, category_path(category), class: 'badge' %>
 <% end %>

<br />



<br />
<% if logged_in? %>
  <p>
  <%= form_for [@post, @comment] do  |f| %>
  <%= render 'shared/errors', obj: @comment %>
    <div class = 'control-group'>
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body %>
    </div>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
  </p>
<% end %>

<div class='row'> 

  <%= render 'display_comment',  comment: Comment.last if comment_just_submitted %>
  <% @post.comments.sort_by{ |c| c.total_votes}.reverse.each do |comment| %>
   <%= render 'display_comment',  comment: comment unless comment_just_submitted && comment == Comment.last %>
  <% end %>

</div>




