<%= render 'shared/title_format', title: 'Add New Category' %>


<%= render 'shared/errors', obj: @category %>



<p>
<strong>
Existing Categories: 
</strong>

<% Category.all.order(:name).each do |category|  %>
  <%= "#{category.name}, " unless category == Category.last %>
  <%= "#{category.name}." if category == Category.last %>
  <% end %>
</p>

<br />

<%= form_for @category do |category| %>

  <div class='control-group'>
    <%= category.label :name %>
    <%= category.text_field :name %>
  </div>

  <div class='action'>
    <%= category.submit %>
  </div>

<% end %>
